<<<<<<< HEAD
@use './reset' as *;
@use './variables' as *;

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $background;
}
=======
// styles/globals.scss

// Exemple de style global
@use "./reset" as *;
@use "./variables" as *;
>>>>>>> 145141e29ac014f90fc9e00428debe1b6b799b1a
