@use '../variables' as *;

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;

  .projects {
    flex: 1;
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: $yellow;
    padding: 30px;
    color: whitesmoke;
    position: relative;

    .header {
      display: flex;
      align-items: center;
      gap: 15px;

      h2 {
        color: $pink;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 60px;
      }
    }

    p {
      font-size: 18px;
      width: 50%;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 15px;
      flex-wrap: wrap;

      li {
        width: fit-content;
        padding: 15px 30px;
        border-radius: 8px;
        background: $blue;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        color: $yellow;
      }
    }

    .buttons {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 30px;

      button {
        padding: 15px 30px;
        border-radius: 8px;
        background: $pink;
        color: $yellow;
        text-transform: uppercase;
        font-size: 16px;
        width: fit-content;
        cursor: pointer;
        border: none;
        outline: none;
        font-weight: 600;
        transition: all 0.3s ease;
      }
    }
  }

  .canvas {
    flex: 1;
    max-width: 50%;
    height: 100%;
    background: $blue;

    canvas {
      background: transparent;
    }
  }
}
